<template>
  <v-container class="pa-8">
    <Title title="신발 앱" subTitle="오늘 본 신발"></Title>
    <v-row class="d-flex align-top">
      <v-col sm="10">
        <v-slider
          label="오늘 기분은?"
          v-model="todayMoodSlider"
          :color="color"
          track-color="grey"
          thumb-label="always"
          ><template v-slot:prepend>
            <v-icon :color="color" @click="decrement">
              mdi-minus
            </v-icon>
          </template>
          <template v-slot:append>
            <v-icon :color="color" @click="increment">
              mdi-plus
            </v-icon>
          </template>
        </v-slider>
      </v-col>
      <v-col sm="2">
        <v-btn @click="addMood" color="secondary">기분등록</v-btn>
      </v-col>
      <v-col sm="12" v-if="moodAdded" class="py-0">
        <v-alert color="primary" class="white--text">
          오늘의 기분은
          <v-icon color="white" class="mb-1" size="24">mdi-face</v-icon
          ><strong>{{ mood }}</strong
          >입니다.
        </v-alert>
      </v-col>
    </v-row>
    <v-row>
      <v-col sm="12">
        <v-hover v-slot:default="{hover}">
          <v-card class="pa-4 pt-2" color="blue lighten-4" flat>
            <v-card-title
              >오늘 본 이쁜 신발을 등록합시다!({{ shoes.length }})</v-card-title
            >
            <v-card elevation="12">
              <v-list dense rounded>
                <v-list-item>
                  <v-text-field
                    v-model="shoeLocation"
                    :counter="10"
                    label="신발을 찾은 장소를 입력해주세요"
                    required
                    clearable
                    @change="changeMap()"
                  ></v-text-field>
                </v-list-item>
                <v-list-item>
                  <v-text-field
                    v-model="shoeTitle"
                    :counter="10"
                    label="신발의 주제"
                    required
                    clearable
                  ></v-text-field>
                </v-list-item>
                <v-list-item>
                  <v-select
                    v-model="shoeColor"
                    :items="shoeColors"
                    :rules="[(v) => !!v || 'Item is required']"
                    label="pink"
                    required
                  >
                  </v-select>
                </v-list-item>
                <v-list-item>
                  <v-text-field
                    v-model="shoeList1"
                    :counter="10"
                    required
                    clearable
                    v-on:keyup.enter="shoeList2 = true"
                  ></v-text-field>
                </v-list-item>
                <template v-if="shoeList2 !== ''">
                  <v-list-item>
                    <v-text-field
                      v-model="shoeList2"
                      :counter="10"
                      required
                      clearable
                      v-on:keyup.enter="shoeList3 = true"
                    ></v-text-field>
                  </v-list-item>
                </template>
                <template v-if="shoeList3 !== ''">
                  <v-list-item>
                    <v-text-field
                      v-model="shoeList3"
                      :counter="10"
                      required
                      clearable
                      v-on:keyup.enter="shoeList4 = true"
                    ></v-text-field>
                  </v-list-item>
                </template>
                <template v-if="shoeList4 !== ''">
                  <v-list-item>
                    <v-text-field
                      v-model="shoeList4"
                      :counter="10"
                      required
                      clearable
                      v-on:keyup.enter="shoeList5 = true"
                    ></v-text-field>
                  </v-list-item>
                </template>
                <template v-if="shoeList5 !== ''">
                  <v-list-item>
                    <v-text-field
                      v-model="shoeList5"
                      :counter="10"
                      label="신발"
                      required
                      clearable
                    ></v-text-field>
                  </v-list-item>
                </template>
                <v-list-item>
                  <v-btn
                    color="primary"
                    @click="
                      submitShoe(
                        shoeTitle,
                        shoeColor,
                        shoeList1,
                        shoeList2,
                        shoeList3,
                        shoeList4,
                        shoeList5,
                        shoeLocation
                      )
                    "
                    >신발 등록하기</v-btn
                  >
                </v-list-item>
              </v-list>
            </v-card>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
    <v-row>
      <v-col sm="12">
        <div id="map" class="map"></div>
      </v-col>
    </v-row>
    <v-row>
      <v-col sm="6" v-for="(shoe, i) in shoes" :key="i">
        <v-hover v-slot:default="{hover}">
          <v-card
            class="pa-4 pt-2"
            :color="shoe.color"
            :elevation="hover ? 12 : 2"
            v-show="shoe.id !== ''"
            flat
          >
            <v-btn v-if="hover" absolute top right depressed>
              <v-icon color="primary" @click="deleteShoe(shoe)"
                >mdi-close</v-icon
              >
            </v-btn>
            <v-card-title class="white--text pb-0 pl-0"
              >{{ shoe.title }} id:{{ shoe.id }}</v-card-title
            >
            <p class="white--text caption mt-0">{{ shoe.location }}</p>
            <v-card elevation="12">
              <v-list dense rounded>
                <v-list-item v-for="(item, j) in shoe.list" :key="j" link>
                  <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon> </v-list-item-icon
                  >{{ item.name }}
                </v-list-item>
              </v-list>
            </v-card>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
    <v-row>
      <v-col sm="12">
        <div class="text-center">
          <v-pagination :v-model="page" :length="page"></v-pagination>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "@/components/Title";
import {mapGetters, mapState} from "vuex";
import store from "@/store";

function getPageShoes(routeTo, next) {
  const currentPage = parseInt(routeTo.query.page) || 1;
  store
    .dispatch("getShoes", {
      page: currentPage,
    })
    .then(() => {
      routeTo.params.page = currentPage;
      next();
    });
}

export default {
  data: () => ({
    todayMoodSlider: 50,
    moodAdded: false,
    count: 1,
    shoeMore: false,
    hover: false,
    shoeTitle: "신발의 주제",
    shoeColor: "pink",
    shoeColors: [
      "#B37D82",
      "#FFFEE6",
      "#ffcdd2",
      "#b2dfdb",
      "#B3E5FF",
      "#86A4B3",
    ],
    shoeIcons: "mdi-alert",
    shoeList1: "신발 이름들을 적어주세요.",
    shoeList2: "",
    shoeList3: "",
    shoeList4: "",
    shoeList5: "",
    sets: [],
    shoeLocation: "서울 노원구 노해로81길 5-6",
    mapPosition: [],
  }),
  components: {
    Title,
  },
  mounted() {
    window.kakao && window.kakao.maps ? this.initMap() : this.addScript();
  },
  created() {
    this.$store.dispatch("getShoes");
  },
  beforeRouteEnter(routeTo, routeFrom, next) {
    getPageShoes(routeTo, next);
  },
  beforeRouteUpdate(routeTo, routeFrom, next) {
    getPageShoes(routeTo, next);
  },
  methods: {
    initMap(loc) {
      var loc = this.shoeLocationVal;
      var mapContainer = document.getElementById("map"), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
          level: 3, // 지도의 확대 레벨
        };

      // 지도를 생성합니다
      var map = new kakao.maps.Map(mapContainer, mapOption);

      // 주소-좌표 변환 객체를 생성합니다
      var geocoder = new kakao.maps.services.Geocoder();

      // 주소로 좌표를 검색합니다
      geocoder.addressSearch(loc, function(result, status) {
        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {
          var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

          // 결과값으로 받은 위치를 마커로 표시합니다
          var marker = new kakao.maps.Marker({
            map: map,
            position: coords,
          });

          // 인포윈도우로 장소에 대한 설명을 표시합니다
          var infowindow = new kakao.maps.InfoWindow({
            content:
              '<div style="width:150px;text-align:center;padding:6px 0;">신발 본 위치</div>',
          });
          infowindow.open(map, marker);

          // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
          map.setCenter(coords);
        }
      });
    },
    addScript() {
      const script = document.createElement("script");
      /* global kakao */
      script.onload = () => kakao.maps.load(this.initMap);
      script.src =
        "http://dapi.kakao.com/v2/maps/sdk.js?autoload=false&appkey=d4df116bebabba0a8d76fe2e50c92923";
      document.head.appendChild(script);
    },
    onEnter() {
      this.shoeMore = true;
    },
    changeMap() {
      this.initMap(this.shoeLocationVal);
    },
    submitShoe(a, b, c, d, e, f, g, h) {
      let list = [];
      list.push(a, b, c, d, e, f, g, h);
      this.sets = list; // !!!
      this.$store
        .dispatch("submitShoe", this.sets)
        .then(() => {
          this.$router.go();
        })
        .catch((error) => {
          console.log(
            "신발을 등록하는 과정에서 문제가 생겼습니다.",
            error.message
          );
        });
    },
    deleteShoe(shoe) {
      store
        .dispatch("deleteShoe", shoe)
        .then(() => {
          this.$router.go();
        })
        .catch(() => {
          console.log("신발을 삭제하는 과정에서 문제가 생겼습니다.", error);
        });
    },
    addMood() {
      this.moodAdded = true;
      this.$store.dispatch("addMood", this.todayMoodSlider);
    },
    decrement() {
      this.todayMoodSlider--;
    },
    increment() {
      this.todayMoodSlider++;
    },
    toggle() {
      this.isPlaying = !this.isPlaying;
    },
  },
  computed: {
    ...mapGetters({shoes: "shoes", mood: "mood"}),
    ...mapState(["page"]),
    color() {
      if (this.todayMoodSlider < 25) return "indigo";
      if (this.todayMoodSlider < 50) return "teal";
      if (this.todayMoodSlider < 75) return "green";
      if (this.todayMoodSlider < 100) return "orange";
      return "red";
    },
    shoeLocationVal: {
      get() {
        return this.shoeLocation;
      },
      set(val) {
        this.shoeLocation = val;
      },
    },
  },
};
</script>
<style>
.map {
  width: 100%;
  height: 400px;
}
</style>
