<template>
  <v-row>
    <v-col sm="12">
      <h1>
        {{ title }}
        <span class="caption primary--text">{{ subTitle }}</span>
      </h1>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    subTitle: {
      type: String,
      required: true,
    },
  },
};
</script>
